<!-- Angular is actually broken down into subpackages -->
<!-- We need to add them if we want to use a specifc feature -->
<!-- <input type="text" [(ngModel)]="name"/> -->
<!-- 
  Above would give this error
    ** Can't bind to 'ngModel' since it isn't a known property of 'input'.
    ** 3 <input type="text" [(ngModel)]="name"/> 
  We get this error because we have yet to import the FormsModule into the app.module.ts file
-->

<!-- we are recving the name from the app.component.TS file -->
<!-- <p> {{ name }} </p> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr>   <!-- hr => horizontal line -->
      <app-servers></app-servers> <!-- will give us TWO of the SERVER component => see servers.ts -->
      <!-- <div app-servers> </div> -->  <!-- this is how to have the selector as an attribute! -->
     <!-- <div class="app-servers"> </div> -->
     <!-- <app-success-alert></app-success-alert> -->
     <!-- <app-warning-alert></app-warning-alert> -->
      <button 
      (click)="onShow()"
      >Display Details</button>
      <p 
      *ngIf="showText"
      > here is some text that appears when you push a button!</p>
      <p 
      *ngFor="let click of clicks"
      [ngStyle] = "{ backgroundColor: click >= 5 ? 'blue' : 'transparent' }"
      [ngClass] = "{ online: click >= 5 }"
      > {{ click }} </p>
      <!-- for the ngStyle we are saying that after a certian INDIVIDUAL amount start changing background -->
      <!-- after 4 they will have a blue background -->
    </div>
  </div> 
</div>



