<!-- Angular is actually broken down into subpackages -->
<!-- We need to add them if we want to use a specifc feature -->
<!-- <input type="text" [(ngModel)]="name"/> -->
<!-- 
  Above would give this error
    ** Can't bind to 'ngModel' since it isn't a known property of 'input'.
    ** 3 <input type="text" [(ngModel)]="name"/> 
  We get this error because we have yet to import the FormsModule into the app.module.ts file
-->

<!-- we are recving the name from the app.component.TS file -->
<!-- <p> {{ name }} </p> -->

<h3>I'm in the AppComponent</h3>


